/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* css reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-grey-900 w-screen max-w-full my-10 flex justify-center items-center;
}
